
# Introduction to Python Programming

Python is a popular, interpreted, high-level programming language known for its simplicity and readability. It's widely used in various fields, from web development to data science. This notebook introduces some fundamental concepts in Python, including variables, expressions, statements, `input()`, `print()`, and data types.

Let's start by understanding what variables are in Python.


## Variables in Python

- A variable is a **named item** that stores data (e.g., numbers, letters, etc)

- (They are implemented as memory locations)
- The data stored by a variable is called its value
- Its value can be changed

In [16]:
# Example: Creating Variables
# Here's another example comment
# add many more notes
name = "Alice"
age = 30
print(name, age)

Alice 30


### Rules for Variable Names in Python

When creating variables in Python, there are certain rules and conventions that must be followed:

1. **Names can only contain letters, numbers, and underscores.** Variable names can start with a letter or an underscore, but not with a number.
2. **Spaces are not allowed in variable names.** Use underscores to separate words in variable names (e.g., `my_variable`).
3. **Avoid using Python keywords and function names as variable names.** For example, don't use words like `print`, `int`, `if`, `while`, or `for` as variable names.
4. **Variable names should be descriptive** to make the code more readable (e.g., `username` instead of `u`).
5. **Case sensitivity:** Variable names are case-sensitive in Python, meaning that `Variable`, `VARIABLE`, and `variable` are three different variables.

In [21]:
# Don't do this please! A variable name can only start with a letter or _
123_name123 = 'Bob'
print(123_name123)

SyntaxError: ignored

In [23]:
# Valid Variable Names
name = "Alice"
_age = 23
user2name = "Bob"

# Invalid Variable Names
# 2name = "Charlie"  # Starts with a number
# user-name = "Dave" # Contains a hyphen


## Expressions and Statements

An expression is a combination of values, variables, and operators.

A statement, on the other hand, is an instruction that the Python interpreter can execute. Let's see some examples:

In [ ]:
# Example: Expressions and Statements
sum = 10 + 15  # This is an expression
print(sum)     # This is a statement

In [26]:
result = 15 / 10
print(result)

1.5


## Using `input()` and `print()` Functions

The `input()` function allows the user to take input from the keyboard as a string.

The `print()` function prints the specified message to the screen.

In [30]:
# Example: Using input() and print()
user_name = input("Enter your name: ")
# do other processing
print(user_name) # printing multiple values, each separated by a comma
# The output will separate items with a whitepsace

Enter your name: Dana
Dana


### Printing Multiple Items Using `print()`

You can pass several values separated by commas to `print`, and Python will automatically convert them to strings (if they are not already strings) and join them with a space:

In [31]:
# Example: Printing Multiple Items
name = "Alice"
age = 30
print("Name:", name, "- Age:", age)

Name: Alice - Age: 30


## Basic Data Types in Python: int, float, and string

Python has various data types including integers (`int`), floating point numbers (`float`), and strings (`str`). Here's a brief overview:
- **int**: Represents integer values (e.g., 10, -3), counted quantities
- **float**: Represents real numbers (e.g., 3.14, -0.001), measured quantities
- **string**: Represents sequences of characters (e.g., "Hello", "123")
    - A string in Python can be created by enclosing characters in quotes (single `'123'`, double `"Python"`, or triple quotes `'''another string'''`).


Let's see some examples:

In [2]:
# Example: Data Types
# Integer
number_of_items = 5

# Float
temperature = 98.6

# String
greeting_message = 'Hello, Python!'

# Use type() to determine the type of a variable (its value)
print(type(number_of_items), type(temperature), type(greeting_message))

<class 'int'> <class 'float'> <class 'str'>


## Formatting Strings with f-strings

Introduced in Python 3.6, f-strings offer a concise and readable way to embed expressions inside string literals, using curly braces `{}`. The expressions are evaluated at runtime and then formatted using the `format()` method. Here's how you can use f-strings:

In [32]:
# Example: Using f-strings for Formatting
name = "Bob"
age = 25
print(f"Name: {name} - Age: {age}")
# print("Name:", name, "- Age:", age)

Name: Bob - Age: 25

In [36]:
name = 'Bob'
age = 25
print('Name:', name)
print(f'Name: {name} - Age: {age}')

Name: Bob
Name: Bob - Age: 25

In [6]:
number_of_items = 5
price = 19.99
item_name = "Notebook"

print("Item:", item_name)
print("Number of Items:", number_of_items)
print("Total Price: $", price)

print() # this prints a blank line

print(f'Item: {item_name}')
print(f'Number of Items: {number_of_items}')
print(f'Total Price: ${price}')

Item: Notebook
Number of Items: 5
Total Price: $ 19.99

Item: Notebook
Number of Items: 5
Total Price: $19.99

In [37]:
# TODO: your output should match below
# Please enter your name
# Your name entered is: ____
user_name = input('Please enter your name: ')
print(f'Your name entered is: {user_name}')

Please enter your name: Dana
Your name entered is: Dana


## Working with Strings in Python

Python has a set of built-in methods that you can use on strings. Let's explore some common string operations:

In [4]:
# Example: String Operations
greeting = "Hello, World!"
print(greeting.upper())  # Convert to uppercase
print(greeting.lower())  # Convert to lowercase

HELLO, WORLD!
hello, world!

In [ ]:
# challenge: can you print out a receipt?

# Order ID: ___
# Order Date: _____
# Subtotal: $____
# Tax: $____
# Tips: $____
# Total: $____